html {
  font-size: 10px;
}

@media (max-width: 900px) {
  html { font-size: 8px; }
}

body {
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin: 0;
  overflow-x: hidden;
  background-color: lightgray;
}

#desktop {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
}

#iconContainer {
  display: flex;
  flex-direction: row;
  border: 0.1rem solid black;
  border-radius: 1rem;
  width: fit-content;
  height: 5rem;
  padding: 0.5rem;
  z-index: 99;
}

#iconContainer .menuIcon {
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
  z-index: 99;
}

#iconContainer .menuIcon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.draggableWindow {
  position: absolute;
  border: 0.1rem solid black;
  width: 60rem;
  height: 40rem;
  z-index: 1;
  background-color: gray;
}

.close {
  flex-direction: column;
}

#overlay {
  position: relative;
  left: 7.5rem;
  width: 45rem;
  height: 35rem;
}

#countCont {
  position: absolute;
  left: 20rem;
}

.counter {
  font-size: 2rem;
  text-align: center;
}

.board {
  position: relative;
  left: 7.5rem;
  width: 45rem;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
  perspective: 100rem;
  z-index: 2;
}

.cardHolder {
  margin: 0.5rem;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.fourbyfour {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
}

.twobytwo {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}

.twobyfour {
  width: calc(25% - 10px);
  height: calc(50% - 10px);
}

.cardHolder.flip {
  transform: rotateY(180deg);
}

.cardHolder.wait {
  box-shadow: 0 0 2.5rem yellow;
}

.cardHolder.match {
  box-shadow: 0 0 2.5rem limegreen;
}

.cardHolder.noMatch {
  box-shadow: 0 0 2.5rem crimson;
}

.frontside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  transform: rotateY(180deg);
}

.backside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

.congratz {
  font-family: 'Karla', sans-serif;
  font-size: larger;
  text-align: center;
}

#quizMenu {
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
}

#quizMenu h1 {
  font-family: 'Karla', sans-serif;
  font-size: xx-large;
}

#quizMenu p, h5 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

#scoreWrapper {
  width: 20%;
  margin: 2% 0 0 40%;
  text-align: center;
}

#highscoreTable {
  border-collapse: collapse;
  margin-left: 20%;
}

#highscoreTable td {
  border: 0.1rem solid black;
  padding: 0.5rem;
  text-align: left;
}

/* chat */
#chatCont {
  display: flex;
  flex-direction: column;
}
#chatHead {
  height: 4rem;
  width: 100%;
  display: inline-flex;
}

#chatHead p, h3 {
  font-family: 'Karla', sans-serif;
  font-size: large;
}
.evenly {
  justify-content: space-evenly;
}
.center {
  justify-content: center;
}

#userCont, #channelCont {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Karla', sans-serif;
}

#messageInput {
  border: 0.1rem solid black;
  width: 100%;
  height: calc(100% - 4rem);
}
