/* Webpage */
html {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
}

@media (max-width: 900px) {
  html { font-size: 8px; }
}

body {
  height: 100vh;
  width: 100vw;
  text-decoration: none;
  margin: 0;
  background-color: lightgray;
}

/* Desktop */
#desktop {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#iconContainer {
  display: flex;
  flex-direction: row;
  border: 0.1rem solid black;
  border-radius: 1rem;
  width: fit-content;
  height: 5rem;
  margin: 1.6rem 0 0 1.6rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
}

#iconContainer .menuIcon {
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
}

#iconContainer .menuIcon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Window */
.draggableWindow {
  position: fixed;
  border: 0.1rem solid black;
  width: 60rem;
  height: 40rem;
  background-color: gray;
}

.close {
  flex-direction: column;
}

/* Memory */
#overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: larger;
}

.board {
  position: relative;
  left: 7.5rem;
  width: 45rem;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
  perspective: 100rem;
}

.cardHolder {
  margin: 0.5rem;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.fourbyfour {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
}

.twobytwo {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}

.twobyfour {
  width: calc(25% - 10px);
  height: calc(50% - 10px);
}

.cardHolder.flip {
  transform: rotateY(180deg);
}

.cardHolder.wait {
  box-shadow: 0 0 2.5rem yellow;
}

.cardHolder.match {
  box-shadow: 0 0 2.5rem limegreen;
}

.cardHolder.noMatch {
  box-shadow: 0 0 2.5rem crimson;
}

.frontside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  transform: rotateY(180deg);
}

.backside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

/* Quiz */
#quizMenu {
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: absolute;
}

#scoreWrapper {
  width: 20%;
  margin: 2% 0 0 40%;
  text-align: center;
}

#highscoreTable {
  border-collapse: collapse;
  margin-left: 20%;
}

#highscoreTable td {
  border: 0.1rem solid black;
  padding: 0.5rem;
  text-align: left;
}

/* Chat */
#chatCont {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - 1.9rem);
}

#chatHead {
  width: 100%;
  display: inline-flex;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

#userCont,
#channelCont {
  display: inherit;
  flex-direction: column;
  text-align: center;
}

#messageInput {
  display: inherit;
  flex-direction: row;
  position: absolute;
  bottom: 0.1rem;
  width: 100%;
}

/* Design classes */
.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.xLarge {
  font-size: x-large;
}

.xxLarge {
  font-size: xx-large;
}

.centerText {
  text-align: center;
}

/* Background */
.background1 {
  background-image: url('/images/backgrounds/back1.gif');
}

.background2 {
  background-image: url('/images/backgrounds/back2.jpg');
}

.background3 {
  background-image: url('/images/backgrounds/back3.jpg');
}

.backgroundCover {
  background-size: cover;
}
